@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;400&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background-image: url("./Images/bg.png");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading1{
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.1rem; 
}
.txt{
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}

.lt-spc1 {
  letter-spacing: 0.1rem;
}
.lt-spc2 {
  letter-spacing: 0.2rem;
}
.txt-color1{
 color: #964096;
}
.txt-color2{
  color: #3a3a3a;
}
.clr{
color: #bebebe;
}
.txt-clr1 {
  background: linear-gradient(to right,#964096, #c0699f, #3c1a3c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-clr2 {
  background: linear-gradient(to right,#3c1a3c, #783378, #964096, #000000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt-clr3 {
  background: linear-gradient(to right, #783378, #3c1a3c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}